body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

/* Añade esto para el navbar fijo */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav-link {
  color: #000 !important;
  letter-spacing: 1px;
  font-size: 0.85rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #555 !important;
}


.App {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}